#root {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 35px;
    gap: 20px;
}
.card-container{
    display: flex;
    height: 100%;
    width: 100%;
    border: 3px solid black;
    padding: 30px;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
}
.header{
    display: flex;
    width: 100%;
    height: fit-content;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    justify-content: space-between;
    align-items: center;
    .date-container{
        display: flex;
        width: fit-content;
        background-color: black;
        height: 100%;
        color: white;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 2rem;
        padding: 15px;
    }
    .portfolio-version-container{
        display: flex;
        flex-direction: column;
        color: black;

        h1{
            margin: 0;
            font-size: 1.5rem;
        }
        .version{
            display: flex;
            justify-content: space-between;
        }
    }
}
.a_simple
{
    color: black;
    width: 100%;
    margin: 0;
    text-align: end;
    font-weight: 500;
}
.stripe {
    width: 100%; /* adjust to your needs */
    height: 32px; /* height similar to the image */
    background: repeating-linear-gradient(
    -45deg,
    #000 0px,
    #000 12px,
    transparent 12px,
    transparent 20px
    );
}
.front-page{
    display: flex;
    flex-direction: row;
    color: black;
    padding-top: 25px;
    padding-bottom: 20px;
    border-bottom: 3px solid black;
    .github_account_qr{
        aspect-ratio: 1/1;
        width: 15rem;
    }
    h2{
        font-size: 3.7rem;
        margin: 0;
        height: fit-content;
        padding: 0;
    }
    .basic-info{
        display: flex;
        flex-direction: column;
        padding: 0;
        width: fit-content;
        margin-left: auto;
        line-height: 1;
        gap: 25px;

        span{
            font-size: 2rem;
            font-weight: 500;
            white-space: nowrap;

        }
        .bday-container{
            display: flex;
            flex-direction: row;
            gap: 10px
        }

        .box-x-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 100%;
        }
        .x-box {
            width: 100px;
            height: 100px;
            border: 3px solid #000;
            position: relative;
            box-sizing: border-box;
        }


        .x-box::before,
        .x-box::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 110%;
            height: 3px;
            background: #000;
            transform-origin: center;
        }


        .x-box::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }


        .x-box::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}
.random-hash{
    font-weight: 500;
}
.summary-socials-container{
    display: flex;
    width: 100%;
    height: 100%;
    border: 3px solid black;
    flex-direction: column;
    .summary-head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        span{
            font-weight: 500;
            font-size: 2rem;
            line-height: 1;
            margin: 0;
            padding: 0;
            padding: 0px 20px;
        }
        .subtitle-container{
            display: flex;
            flex-direction: row;
            height: 100%;
            gap:2rem;
            justify-content: center;
            align-items: center;
            img{
                height: 65%;
                aspect-ratio: 1/1;
            }
            .subtitle{
                color: white;
                background-color: black;
                height: 100%;
                padding: 5px 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                width: 10rem;
                font-size: 1.2rem;
            }
        }
    }
    p{
        font-weight: 500;
        text-align: justify;
        text-justify: inter-word;
        padding: 0px 20px;
        text-indent: 1rem;
        font-size: 1.1rem;
    }
    .summary-bottom{
        margin-top: auto;
        border-top: 3px solid black;
        display: flex;
        flex-direction: row;
        height: 4rem;
        .bottom{
            border-right: 3px solid black;
        }
        div{
            aspect-ratio: 1/1;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.side-lines{
    display: flex;
    height: 100%;
    width: 15rem;
    border: 3px solid black;

    div {
        height: 100%;
    }
}
.content-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 3px solid black;

    .content{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 20px;
        overflow: auto;
        border-bottom: 3px solid black;
        gap: 10px;
        span {
            font-weight: 600;
            font-size: 2rem;
        }
        p{
            display: flex;
            flex-direction: row;
            font-size: 1.5rem;
            gap: 5px;
            margin: 0;
            margin-left: 10px;
            padding: 0;
        }
    }

    .summary-head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        .selector{
            display: flex;
            flex-direction: row;
            height: 100%;
        }
        span{
            font-weight: 500;
            font-size: 2rem;
            line-height: 1;
            margin: 0;
            padding: 0;
            padding: 0px 20px;
        }
        .subtitle-container{
            display: flex;
            flex-direction: row;
            height: 100%;
            gap:2rem;
            justify-content: center;
            align-items: center;
            img{
                height: 65%;
                aspect-ratio: 1/1;
            }
            .subtitle{
                color: white;
                background-color: black;
                height: 100%;
                padding: 5px 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                width: 10rem;
                font-size: 1.2rem;
                font-weight: 500;
                outline: none;
                border: none;
            }
            .unselected {
                position: relative;
                color: black;
                background-color: #f2f2f2;
                border-right: 3px solid black;
                border-bottom: 3px solid black;
                overflow: hidden;
            }

            .unselected::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 6px; /* stripe thickness */
                background: repeating-linear-gradient(
                    -45deg,
                    #000 0px,
                    #000 6px,
                    transparent 6px,
                    transparent 12px
                );
                clip-path: inset(0 100% 0 0);
                transition: clip-path 0.25s ease-out;
            }

            .unselected:hover::after {
                clip-path: inset(0 0 0 0);
            }
        }
    }
}
.socials{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    height: 20%;
    width: 100%;

    .socials-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .social-links{
            display: flex;
            flex-direction: row;
            padding: 10px;
            gap: 4rem;

            span{
                font-weight: 600;
                font-size: 1.6rem;
            }
  
            a, p{
                display: flex;
                flex-direction: row;
                font-size: 1.4rem;
                gap: 5px;
                margin: 0;
                padding: 0;
                color: black;
                text-decoration: none;
                align-items: center;
            }
            img{
                height: 1.6rem;
                aspect-ratio: 1/1;
            }
        }
        .social-data{
            display: flex;
            flex-direction: column;
        }
    }
    .random-square{
        display: flex;
        height: 100%;
        aspect-ratio: 1/1;
        margin-left: auto;
        border-left: 3px solid black;
        padding: 10px;
    }
  
}
